<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whut.dao.AccountCheckDao">
  <resultMap id="BaseResultMap" type="whut.pojo.AccountCheck">
    <id column="account_check_id" jdbcType="INTEGER" property="accountCheckId" />
    <result column="third_party_no" jdbcType="VARCHAR" property="thirdPartyNo" />
    <result column="transaction_code" jdbcType="VARCHAR" property="transactionCode" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="correlation_id" jdbcType="INTEGER" property="correlationId" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  
  <insert id="add" parameterType="AccountCheck" useGeneratedKeys="true" keyProperty="account_check_id">
        INSERT INTO account_check
        (third_party_no,transaction_code,money,type,correlation_id,notes,status)
        VALUES
        (#{thirdPartyNo},#{transactionCode},#{money},#{type},#{correlationId},#{notes},#{status})
   </insert>
   
   <select id="search" parameterType="hashmap" resultMap="BaseResultMap">
         SELECT * FROM account_check
         where 1 = 1
         <if test="type != null">
      		and type = #{type}  
    	</if>
    	<if test="correlationId != null">
      		and correlation_id = #{correlationId}  
    	</if>
    	<if test="transactionCode != null">
      		and transaction_code = #{transactionCode}  
    	</if>
    	<if test="thirdPartyNo != null">
      		and third_party_no = #{thirdPartyNo}  
    	</if>
   </select>
   
  
  
  
  </mapper>