<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whut.dao.ManagerCategoryDao">
  <resultMap id="BaseResultMap" type="whut.pojo.ManagerCategory">
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  
  <select id="getList" resultMap="BaseResultMap">
        SELECT * FROM manager_category
   </select>
   
    <select id="add" parameterType="ManagerCategory">
    	INSERT INTO manager_category 
    	(level,name,description)      
        VALUES 
    	(#{level},#{name},#{description})
    </select>
   
    
    <select id="modify" parameterType="ManagerCategory">
    	UPDATE manager_category SET 
    	level = #{level},name = #{name},description = #{description}
        WHERE category_id = #{categoryId}
    </select>
    
    <select id="delete" parameterType="int">
    	delete from manager_category where category_id = #{id}
    </select>
    
     <select id="getIdByName" resultMap="BaseResultMap">
        SELECT * FROM manager_category where name = #{name}
      </select>
      
      <select id="getByCategoryId" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM manager_category where category_id = #{id}
      </select>

</mapper>