<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whut.dao.OrderCartDao">
  <resultMap id="BaseResultMap" type="whut.pojo.OrderCart">
    <id column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="product_specs_id" jdbcType="INTEGER" property="productSpecsId" />
    <result column="product_quantity" jdbcType="INTEGER" property="productQuantity" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  
    <sql id="orderCart">
  		SELECT oc.cart_id,oc.product_id,oc.user_id,oc.product_specs_id,oc.product_quantity,ps.price product_price,oc.add_time FROM order_cart oc 
		LEFT JOIN product_specs ps ON oc.product_specs_id = ps.product_specs_id
    </sql>
  
   <select id="getListByUser" parameterType="int" resultMap="BaseResultMap">
         <include refid="orderCart"/>
         where user_id = #{id}
   </select>
   
   <select id="getAmountById" parameterType="int" resultType="java.lang.Integer">
        SELECT count(*) FROM order_cart where product_specs_id = #{id}
   </select>
</mapper>