<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="whut.dao.ProCategoryDao">
  <resultMap id="BaseResultMap" type="whut.pojo.ProductCategory">
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="category_level" jdbcType="TINYINT" property="categoryLevel" />
    <result column="category_status" jdbcType="TINYINT" property="categoryStatus" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
  </resultMap>
  
  <select id="getList"  resultMap="BaseResultMap">
        SELECT * FROM product_category where category_level = 1 and category_status = 1
   </select>
   
   <select id="add" parameterType="ProductCategory">
    	INSERT INTO product_category
    	(category_name,category_code,parent_id,category_level,category_status,pic_url)      
        VALUES
    	(#{categoryName},#{categoryCode},#{parentId},#{categoryLevel},#{categoryStatus},#{picUrl})
    </select>
    
    <select id="modify" parameterType="ProductCategory">
    	UPDATE product_category SET 
    	category_name = #{categoryName},category_code = #{categoryCode},parent_id = #{parentId},
    	category_level = #{categoryLevel},category_status = #{categoryStatus},pic_url = #{picUrl}
        WHERE category_id = #{categoryId}
    </select>
    
    <select id="delete" parameterType="string">
    	UPDATE product_category SET 
    	category_status = 0  
        WHERE category_id = #{id}
    </select>
    

	<select id="getListByParentId" parameterType="string"  resultMap="BaseResultMap">
        SELECT * FROM product_category where parent_id = #{id} and category_status = 1
	</select>
	
    <select id="modifyStatusNoShow" parameterType="string">
    	UPDATE product_category SET 
    	category_status = 2 
        WHERE category_id = #{id}
    </select>
    
     <select id="getCategoryById" parameterType="int" resultMap="BaseResultMap">
    	 SELECT * FROM product_category where category_id = #{categoryId}
    </select>
    
    <select id="getCategoryByName" parameterType="string" resultMap="BaseResultMap">
    	 SELECT * FROM product_category where category_name LIKE CONCAT(CONCAT('%',#{name}),'%')
    </select>
    
    <select id="getCategoryByChildrenID" parameterType="string" resultMap="BaseResultMap">
    	 SELECT * FROM product_category
		 WHERE category_id = (select parent_id FROM product_category where category_id = #{id})
    </select>
    

</mapper>