<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whut.dao.UserCollectDao">
  <resultMap id="BaseResultMap" type="whut.pojo.UserCollect">
    <id column="collect_id" jdbcType="INTEGER" property="collectId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="collect_time" jdbcType="TIMESTAMP" property="collectTime" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="main_image" jdbcType="VARCHAR" property="mainImage" />
    <result column="publish_status" jdbcType="TINYINT" property="publishStatus" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="price" property="price" jdbcType="DECIMAL" />
  </resultMap>

   <select id="getListByUser" parameterType="int" resultMap="BaseResultMap">
        SELECT uc.collect_id,uc.product_id,uc.user_id,uc.collect_time,
		pi.product_name,pi.main_image,pi.publish_status,pi.description,mp.price
		FROM user_collect uc
		LEFT JOIN product_info pi on pi.product_id = uc.product_id
		LEFT JOIN (select product_id,min(price) price FROM product_specs GROUP BY product_id) mp ON mp.product_id = uc.product_id
	 	where user_id = #{id}
   </select>
   
    <select id="getAmountById" parameterType="int" resultType="java.lang.Integer">
        SELECT count(*) product FROM user_collect where product_id = #{id};
   </select>
  
  
  
  
</mapper>